node_modules
npm-debug.log
.env*
.docker-compose*
README.md
.git
.github
.gitignore
.gitlab-ci.yml
.gitmodules
.prettierrc
.vscode
test
logs
jest
k8s
docker-compose
.eslintrc.js
docker.env
package-lock.json